feat(jans-auth-server): disable openid scope (and id_token) for Authz Challenge Endpoint by default

### Description

First-Party spec says
```
The endpoint accepts the authorization request parameters defined in [RFC6749] for the authorization endpoint as well as all applicable extensions defined for the authorization endpoint. Some examples of such extensions include Proof Key for Code Exchange (PKCE) [RFC7636], Resource Indicators [RFC8707], and OpenID Connect [OpenID]. It is important to note that some extension parameters have meaning in a web context but don't have meaning in a native mechanism (e.g. response_mode=query). It is out of scope as to what the AS does in the case that an extension defines a parameter that is has no meaning in this use case.
```

We should: add `authorizationChallengeAllowOpenidScope` AS configuration with default value `false`. It means that by default `openid` (and `id_token`) will be forbidden. But admin can set it to true and allow Connect for First-Party.

- [ ] Implement
- [ ] Write unit test to cover added/changed code
- [ ] Update integration tests to cover added/changed code
- [ ] Write docs



Let's table this until someone reports it as a problem.